/* TODO height 범위 결정하기 */
.contentFooter {
  height: 8%;
  align-items: center;
  overflow: hidden;
}

.information {
  width: 100%;
  padding: 8px 80px;
  display: flex;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

p {
  font-size: 12px;
}
