/* TODO height 범위 결정하기 */
.contentFooter {
  height: 8%;
  align-items: center;
  overflow: hidden;
}

.information {
  width: 92%;
  height: 100%;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
