/* TODO CSS 손보기 */

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
