.mainTitle {
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.subTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

.mainText {
  font-size: 20px;
  margin: 0px;
}

.subText {
  font-size: 16px;
  margin: 0px;
}

.label {
  font-size: 14px;
  margin: 0px;
}
