/* TODO card 스타일 정하기 */
.card {
  border: 3px solid aqua;
  padding: 8px;
}

.cardDark {
  background-color: #38383a;
  border-radius: 20px;
  padding: 8px;
}

.cardLight {
  background-color: white;
  border-radius: 10px;
  padding: 8px;
}
