.flexRow {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 8px;
  gap: 16px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 8px;
  gap: 16px;
}
