.sideBar {
  width: 15%;
  height: 100%;
}

.sidebarTitle {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

.sideBarTitle svg {
  margin-right: 0.5vw;
}

.sideBarTitle a {
  text-decoration: none;
}

/* ? visited 과 관련된 속성은 외부 스타일에 남겨둬야 할까? */
.sideBarTitle :visited {
  color: black;
}

.sidebarList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8vh;
  border: 1px solid black;
}

.notSelected {
  text-decoration: none;
  font-size: 1.5vw;
  padding: 3% 20%;
  border-radius: 10%;
  background-color: none;
}

.notSelected:visited {
  color: inherit;
}

.selected {
  text-decoration: none;
  font-size: 1.5vw;
  padding: 3% 20%;
  border-radius: 10%;
}

.selected :visited {
  color: inherit;
}

.sidebarUl {
}

/* TODO Global Style 로 빼기 */
a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
