.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 30rem;
  position: relative;
}

.searchInput {
  outline: none;
  width: 100%;
  padding: 0.5rem;
  border: none;
  line-height: 1rem;
  border-radius: 10px;
  text-align: center;
  margin-right: 10px;
}

.searchButton {
  padding: 0.5rem;
}

.searchAlert {
  color: red;
}
